.contact-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-information-map{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.contact-information{
    width: 478px;
    height: 437px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information-h2-span-ico{
    display: flex;
    width: 430px;
    height: 399px;
    border: 1px solid #9f9f33;
    justify-content: center;
    align-items: center;
}
.container-information {
    width: 380px;
    height: 365px;
}
.contact-map{
    width: 661px;
    height: 437px;
    margin-top:32px;
}
.boder-butom{
    border-bottom: 1px solid yellow;
    width: 105px;
    margin-top: -19px;
    border: 1px solid;
}
.icon{
    color: #f9c908;
}
.contact-ico a{
    width: 38px;
    height: 38px;
    display: flex;
    border: 1px solid #ffcc00;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #f9c908;
    border-radius: 20px;
}
.hover-ico-black:hover a{
    border: 1px solid black;
    color: black;
}
.contact-ico{
    display: flex;
    width: 200px;
    margin-top: 10px;
    justify-content: space-between;
}
.information-h2-span-ico li{
margin-top: 10px;
}
.information-h2-span-ico span{
    margin-left:10px
}
.information-h2-span-ico h2{
    font-size:16px;
}
.container-input-button{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.div-input-buton{
    width: 1140px;
    height:640px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    opacity: 0.7;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}


.div-input-button-wrap{
    width: 1000px;
    height: 600px;
}
.div-input-button-text1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-button{
    width: 1020px;
    height: 50px;
}
.div-input-button-text5 textarea{
    width: 1020px;
}
.div-margin-top{
    margin-top: 15px;
}
.div-input-button-text6{
    width: 130px;
    height: 40px;
}
.div-input-button-text6 button{
    width: 100%;
    height: 100%;
    border-radius: 19px;
    background-color: #ccba91;
}

.div-input-button-text6:hover button {
    background-color: #4a4334;
    color: #717160;
}

