.section-header{
    width:100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-h1-p{
    width:900px;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.div-img-p{
    width: 100%;
    display: flex;
    justify-content: space-around;
   
}





.img-p{
    width: 339px;
    height: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    background-color: #f3f3f3;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}
.grade-img-p{
    width: 268px;
    height: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
}
.overlay-tow -col{
    width: 465px;
    height: 465px;
    margin-left: 70px;
}